In [1]:
import os
#Open the H5 file in read mode
path = 'data/text_file/'
file = os.listdir(path)

['2024.07.29.09h46m45s_process.h5.txt',
 '2024.07.29.10h10m45s_process.h5.txt',
 '2024.07.29.10h34m45s_process.h5.txt',
 '2024.07.29.10h58m45s_process.h5.txt',
 '2024.07.29.11h22m45s_process.h5.txt',
 '2024.07.29.11h46m45s_process.h5.txt']

In [2]:
import pandas as pd
dfs = []
for f in file:
    dfs.append(pd.read_csv(path+f, sep='\t', encoding_errors='ignore'))
    
df = pd.concat(dfs, ignore_index=True)
print(df.shape)
df.head()

(37994, 402)

,time,(2 Th),(3 Th),(4 Th),(5 Th),(6 Th),(7 Th),(8 Th),(9 Th),(10 Th),...,RG monitor [V],RG current limit flag,RB target [V],RB monitor [V],RB current limit flag,5CHV Board A temp monitor [C],update time [s],total SDO read errors,failed HTTP GET count,Unnamed: 401
0,2024-07-29 09:46:45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.219,0,700,700.75,0,31.12,0.125,0,0,NaN
1,2024-07-29 09:46:45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.178,0,700,700.75,0,31.12,0.140,0,0,NaN
2,2024-07-29 09:46:45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.178,0,700,700.75,0,31.12,0.140,0,0,NaN
3,2024-07-29 09:46:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.178,0,700,700.75,0,31.12,0.140,0,0,NaN
4,2024-07-29 09:46:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.178,0,700,700.75,0,31.12,0.140,0,0,NaN

In [3]:
# preprocessing as done in p1
df = df.iloc[:,:315]

df['time'] = df['time'].apply(lambda x : x.split(' ')[1]) # index is set to time [s]
df = df.groupby('time')[df.columns[1:]].mean().reset_index()
df = df.drop(columns=['time'])

df.index.name = 'time'
df.columns = range(2, 316) # (2 Th) -> 2
df.head()

,2,3,4,5,6,7,8,9,10,11,...,306,307,308,309,310,311,312,313,314,315
time,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# add a column for total intensity at each time step
df['sum'] = df.sum(axis=1)

# save the original one in case
df_original = df.copy()

In [5]:
# in terms of percentage [%]
for i in range(len(df.columns)):
    df.iloc[:,i] = df.iloc[:,i] / df['sum'] * 100
df.head()

,2,3,4,5,6,7,8,9,10,11,...,307,308,309,310,311,312,313,314,315,sum
time,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06086,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0

In [6]:
# drop the sum column
df = df.drop(columns=['sum'])
df.head()

,2,3,4,5,6,7,8,9,10,11,...,306,307,308,309,310,311,312,313,314,315
time,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06086,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0